<h1>Food Todo List</h1>
    <div class="row">
    <ol>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2"> <%= @todo_description %> </div><span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2">Complete History project</div><span class="pomodoro-estimate large-pomodoro-estimate"><%= 3+1 %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2">Complete ELA project</div><span class="pomodoro-estimate large-pomodoro-estimate"><%= 3+1 %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2">Complete Science project</div><span class="pomodoro-estimate large-pomodoro-estimate"><%= 3+1 %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2">Complete Health project</div><span class="pomodoro-estimate large-pomodoro-estimate"><%= 3+1 %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2">Get to School by 7:45</div><span class="pomodoro-estimate large-pomodoro-estimate"><%= 3+1 %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
      <li>
        <div class="column1"><input type="checkbox" name="delete_1" value="1"/></div>
        <div class="column2">Change for gym at 11:45</div><span class="pomodoro-estimate large-pomodoro-estimate"><%= 3+1 %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </li>
    </ol>
    </div>
    <span class="box-one">Box 1</span>
<span class="box-two">Box 2</span>
    <input type="text" placeholder="Add a new todo...">
<input type="number" placeholder="Pomodoro estimate...">
<input id="add-new-todo-button" type="submit" value="Add todo">
    <h2>Make the curriculum 4 Pomodoros</h2>
    <a href="/todo/index">Go back...</a>